body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa; /* Un fondo gris claro para un look más suave */
}

#root {
  padding-bottom: 50px; /* Añade espacio en la parte inferior */
}

/* Estilos para una mejor apariencia en móviles */
@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.offcanvas {
  max-width: 85% !important;
}

.modal.show {
  display: block;
}
